.reviews {
  background-color: #fefff6;
  padding: 24px;
  padding-bottom: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .reviews {
    padding: 36px;
    padding-bottom: 100px;
  }
}

.reviews h1 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

@media (min-width: 768px) {
  .reviews h1 {
    font-size: 30px;
  }
}

.reviews-decor {
  width: 76px;
  margin: 8px 0px;
}

.review-slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.review {
  box-shadow: 0px 0px 15px 0px #65b87d47;
  background-color: #fff;
  padding: 24px;
  border-radius: 16px;
  max-width: 450px;
}

.review p {
  color: #4d4d4d;
  font-size: 14px;
}

.review-bottom-section {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 36px;
}

.inverted-commas {
  width: 100%;
  max-width: 48px;
}

.arrow {
  position: relative;
  top: -48px;
  width: 25%;
  max-width: 48px;
  margin-right: 12px;
}

.user-name {
  font-size: 14px;
  font-weight: 600;
}

.user-img {
  margin-left: 12px;
  width: 25%;
  max-width: 64px;
  border-radius: 100px;
  border: 3px solid #dfe7f1ed;
}
